.qqqic { 
  line-height: 36px;
  padding-bottom: 17px;
  padding-right: 99px;
  padding-right: 48px;
  border-top-width: 95px;
  border-bottom-width: 37px;
  border-top-width: 1px;
  margin-top: 96px;
  border-right-width: 55px;
}
