.qqqic { 
  line-height: 36px;
  padding-bottom: 17px;
  padding-right: 99px;
  padding-right: 48px;
  border-top-width: 95px;
  border-bottom-width: 37px;
  border-top-width: 1px;
  margin-top: 96px;
  margin-top: 70px;
  border-left-width: 53px;
  line-height: 6px;
  border-top-width: 11px;
  line-height: 7px;
  padding-bottom: 67px;
  margin-top: 46px;
  padding-left: 43px;
  padding-bottom: 93px;
  padding-left: 90px;
  line-height: 93px;
  border-bottom-width: 67px;
  border-bottom-width: 84px;
  padding-right: 0px;
  font-size: 11px;
  margin-bottom: 45px;
  padding-right: 86px;
  padding-top: 24px;
  border-right-width: 19px;
  padding-top: 83px;
  border-left-width: 79px;
  border-right-width: 51px;
  margin-right: 12px;
  border-top-width: 62px;
  font-size: 84px;
  padding-bottom: 78px;
  border-top-width: 22px;
  padding-right: 93px;
  border-left-width: 27px;
  margin-right: 61px;
  font-size: 58px;
  border-bottom-width: 70px;
  margin-bottom: 82px;
  border-left-width: 12px;
  margin-top: 94px;
  border-right-width: 73px;
  border-left-width: 73px;
  font-size: 97px;
  border-right-width: 11px;
  padding-left: 36px;
  margin-top: 62px;
  margin-right: 81px;
  border-bottom-width: 89px;
  padding-left: 7px;
  padding-top: 78px;
  border-top-width: 19px;
}
