.qqqic { 
  line-height: 36px;
  padding-bottom: 17px;
  padding-right: 99px;
  padding-right: 48px;
  border-top-width: 95px;
  border-bottom-width: 37px;
  border-top-width: 1px;
  margin-top: 96px;
  margin-top: 70px;
  border-left-width: 53px;
  line-height: 6px;
  border-top-width: 11px;
  line-height: 7px;
  padding-bottom: 67px;
  margin-top: 46px;
  padding-left: 43px;
  padding-bottom: 93px;
  padding-left: 90px;
  line-height: 93px;
  border-bottom-width: 67px;
  border-bottom-width: 84px;
  padding-right: 0px;
  font-size: 11px;
  font-size: 80px;
}
