.qqqic { 
  line-height: 36px;
  padding-bottom: 17px;
  padding-right: 99px;
  padding-right: 48px;
  border-top-width: 95px;
  border-bottom-width: 37px;
  border-top-width: 1px;
  margin-top: 96px;
  margin-top: 70px;
  border-left-width: 53px;
  line-height: 6px;
  border-top-width: 11px;
  line-height: 7px;
  padding-bottom: 67px;
  margin-top: 46px;
  padding-left: 43px;
  padding-bottom: 93px;
  padding-left: 90px;
  line-height: 93px;
  border-bottom-width: 67px;
  border-bottom-width: 84px;
  padding-right: 0px;
  font-size: 11px;
  margin-bottom: 45px;
  padding-right: 86px;
  padding-top: 24px;
  border-right-width: 19px;
  padding-top: 83px;
  border-left-width: 79px;
  border-right-width: 51px;
  margin-right: 12px;
  border-top-width: 62px;
  font-size: 84px;
  padding-bottom: 78px;
  border-top-width: 22px;
  padding-right: 93px;
  border-left-width: 27px;
  margin-right: 61px;
  font-size: 58px;
  border-bottom-width: 70px;
  margin-bottom: 82px;
  border-left-width: 12px;
  margin-top: 94px;
  border-right-width: 73px;
  border-left-width: 73px;
  font-size: 97px;
  border-right-width: 11px;
  padding-left: 36px;
  margin-top: 62px;
  margin-right: 81px;
  border-bottom-width: 89px;
  padding-left: 7px;
  padding-top: 78px;
  border-top-width: 19px;
  border-bottom-width: 18px;
  padding-right: 19px;
  margin-top: 21px;
  margin-top: 49px;
  margin-top: 85px;
  margin-left: 65px;
  line-height: 63px;
  border-bottom-width: 79px;
  margin-right: 58px;
  font-size: 97px;
  padding-bottom: 46px;
  padding-left: 36px;
  padding-top: 49px;
  margin-top: 39px;
  padding-left: 49px;
  border-left-width: 24px;
  border-left-width: 72px;
  border-top-width: 29px;
  line-height: 2px;
  border-bottom-width: 5px;
  margin-left: 9px;
  border-top-width: 25px;
  margin-right: 96px;
  padding-top: 57px;
  margin-right: 75px;
  border-top-width: 57px;
  padding-bottom: 7px;
  padding-top: 33px;
  border-left-width: 55px;
  border-left-width: 38px;
  font-size: 57px;
  border-right-width: 32px;
  margin-bottom: 10px;
  padding-left: 75px;
  padding-right: 32px;
  margin-bottom: 70px;
  border-right-width: 88px;
  border-top-width: 64px;
  font-size: 22px;
  margin-top: 32px;
  margin-bottom: 8px;
  border-top-width: 48px;
  border-right-width: 3px;
  margin-right: 54px;
  margin-left: 81px;
  padding-top: 41px;
}
