.wviqr { 
  margin-top: 33px;
  border-right-width: 6px;
  padding-left: 12px;
  margin-left: 14px;
  font-size: 52px;
  border-left-width: 85px;
  line-height: 24px;
  margin-right: 60px;
  padding-bottom: 59px;
  padding-top: 4px;
  padding-top: 78px;
  padding-top: 60px;
  font-size: 7px;
  font-size: 74px;
  border-bottom-width: 8px;
  border-bottom-width: 27px;
  margin-right: 37px;
  margin-bottom: 73px;
}
