.wviqr { 
  margin-top: 33px;
  border-right-width: 6px;
  padding-left: 12px;
  margin-left: 14px;
  font-size: 52px;
  border-left-width: 85px;
  line-height: 24px;
  margin-right: 60px;
  padding-bottom: 59px;
  padding-top: 4px;
  padding-top: 78px;
  padding-top: 60px;
  font-size: 7px;
  font-size: 74px;
  border-bottom-width: 8px;
  border-bottom-width: 27px;
  margin-right: 37px;
  margin-bottom: 73px;
  padding-left: 25px;
  margin-top: 41px;
  font-size: 93px;
  padding-top: 18px;
  margin-top: 49px;
  border-top-width: 62px;
  border-bottom-width: 37px;
  padding-bottom: 59px;
  margin-bottom: 6px;
  font-size: 86px;
  border-left-width: 43px;
  border-left-width: 57px;
  margin-right: 72px;
  font-size: 43px;
  border-right-width: 40px;
  border-top-width: 45px;
  border-right-width: 53px;
  border-left-width: 36px;
  padding-left: 23px;
  line-height: 63px;
  margin-right: 84px;
  padding-left: 85px;
  padding-bottom: 22px;
  margin-bottom: 89px;
  padding-left: 18px;
  padding-top: 23px;
  margin-top: 23px;
  margin-left: 47px;
  font-size: 57px;
  line-height: 18px;
  margin-right: 34px;
  padding-top: 95px;
  line-height: 37px;
  border-bottom-width: 88px;
  border-left-width: 95px;
  border-top-width: 19px;
  border-top-width: 16px;
  font-size: 4px;
  margin-right: 32px;
  line-height: 5px;
  padding-left: 69px;
  padding-left: 0px;
  line-height: 60px;
  border-left-width: 88px;
  line-height: 57px;
  border-bottom-width: 92px;
  border-bottom-width: 38px;
  margin-left: 19px;
  line-height: 11px;
  border-left-width: 37px;
  border-top-width: 59px;
  margin-right: 93px;
  border-left-width: 52px;
  border-bottom-width: 49px;
  border-bottom-width: 96px;
  padding-top: 52px;
  padding-right: 60px;
  border-right-width: 27px;
  padding-right: 18px;
  line-height: 81px;
  margin-right: 45px;
  font-size: 99px;
  padding-top: 71px;
  margin-right: 8px;
  border-left-width: 91px;
  margin-bottom: 1px;
  margin-right: 78px;
  border-left-width: 68px;
}
