.wviqr { 
  margin-top: 33px;
  border-right-width: 6px;
  padding-left: 12px;
  margin-left: 14px;
  font-size: 52px;
  border-left-width: 85px;
  line-height: 24px;
  margin-right: 60px;
  padding-bottom: 59px;
  padding-top: 4px;
  padding-top: 78px;
  padding-top: 60px;
  font-size: 7px;
  font-size: 74px;
  border-bottom-width: 8px;
  border-bottom-width: 27px;
  margin-right: 37px;
  margin-bottom: 73px;
  padding-left: 25px;
  margin-top: 41px;
  font-size: 93px;
  padding-top: 18px;
  margin-top: 49px;
  border-top-width: 62px;
  border-bottom-width: 37px;
  padding-bottom: 59px;
  margin-bottom: 6px;
  font-size: 86px;
  border-left-width: 43px;
  border-left-width: 57px;
  margin-right: 72px;
  font-size: 43px;
  border-right-width: 40px;
  border-top-width: 45px;
  border-right-width: 53px;
  border-left-width: 36px;
  padding-left: 23px;
  line-height: 63px;
  margin-right: 84px;
  padding-left: 85px;
  padding-bottom: 22px;
  margin-bottom: 89px;
  padding-left: 18px;
  padding-top: 23px;
  margin-top: 23px;
  margin-left: 47px;
  font-size: 57px;
  line-height: 18px;
  margin-right: 34px;
  padding-top: 95px;
}
